<!DOCTYPE html>
<!--I LOVE RUSSIA я люблю Россию -->
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://nevget.xyz/css/bootstrap.css">
    <title>Nevget</title>

</head>

<body>
  <a href=`http://nevget.xyz/confirm/VRgfV2wWOYh5xjZTkD9fs6vG2h7AqBDx`> confirm </a>
</body>
</html>
