<!DOCTYPE html>
<!--I LOVE RUSSIA я люблю Россию -->
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.css">

    <title>Welcome To Nevget</title>
</head>

<body id="gradient">
            <div class="login-card carousel slide" style="background:#f8da76" id="carousel-example-generic" data-ride="carousel">
                 <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
                <div class="carousel-inner" role="listbox">
    <div class="item active">
       <br><img src="/image/Logo_big.png" class="img-responsive" alt="LOGO" oncontextmenu="return false">
                <br>
      <div class="carousel-caption">
       <b style="font-size:23px;color:black">Never forget a thing, again</b>
          <h3 style="font-size:14px;color:black">Your life with more precious memories</h3><br><br>
          <a href="/home" type="button" class="btn btn-primary" role="button">GET STARTED</a>
      </div>
    </div>
    <div class="item">
      <br><img src="/image/polygon.png" class="img-responsive" alt="Polygon" oncontextmenu="return false">
                <br>
      <div class="carousel-caption">
       <b style="font-size:23px;color:black">Your memory, forever</b>
          <h3 style="font-size:14px;color:black">Customized reminder based on you</h3><br><br>
          <a href="/home" type="button" class="btn btn-primary" role="button">GET STARTED</a>
      </div>
    </div>
    <div class="item">
      <br><img src="/image/mail.png" class="img-responsive" alt="LOGO" oncontextmenu="return false">
                <br>
      <div class="carousel-caption">
       <b style="font-size:23px;color:black">Get your memories together.</b>
          <h3 style="font-size:14px;color:black">You only need a thing to remember</h3><br><br>
          <a href="/home" type="button" class="btn btn-primary" role="button">GET STARTED</a>
      </div>
    </div>

  </div>

  <!-- Controls -->
            </div>
    <div id="mob">
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
   </div>
    <script type="text/javascript" src="/js/main.js"></script>

</body>

</html>
